[project]
	description = The Android Marshmallow Easter Egg open-sourced
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Kyler (I-am-Reinvented)
[access "refs/for/refs/*"]
	read = group user/Kyler (I-am-Reinvented)
	push = group user/Kyler (I-am-Reinvented)
	label-Code-Review = -2..+2 group user/Kyler (I-am-Reinvented)
	label-Verified = -1..+1 group user/Kyler (I-am-Reinvented)
	rebase = group user/Kyler (I-am-Reinvented)
	removeReviewer = group user/Kyler (I-am-Reinvented)
	submit = group user/Kyler (I-am-Reinvented)
[access "refs/heads/*"]
	read = group user/Kyler (I-am-Reinvented)
	create = group user/Kyler (I-am-Reinvented)
	push = +force group user/Kyler (I-am-Reinvented)
	pushMerge = group user/Kyler (I-am-Reinvented)
[access "refs/tags/*"]
	push = +force group user/Kyler (I-am-Reinvented)
	pushTag = group user/Kyler (I-am-Reinvented)
	pushSignedTag = group user/Kyler (I-am-Reinvented)
